body{
  margin: 0;
  background-image: url("itachi_background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}


html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

.top-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nav{
  display: flex;
  width: 100%;
  height: 2.5rem;
  justify-content: flex-start;
  background-color: #0C134F;
  flex-direction: row;
}

.logo h1{
  font-family: 'Poppins', sans-serif !important;
  color:white;
  font-size: 1.5rem !important;
  margin: auto;
}

.logo{
  margin-top: 0.1rem;
  margin-left: 14rem
}

.dot{
  color: chartreuse;
}

.T{
  color: red;
}

.centered{
  display: flex;
  margin-left: 11.1rem;
  margin-top: 0.5rem;
}

.tw{
  font-family: 'Roboto', sans-serif !important;
  color:white;
  font-size: 1.2rem !important;
  margin: auto;
  margin-left: 9.5rem;
  visibility: hidden;
}

.twitter{
  width: 1.6rem;
  margin-left: 0.5rem;
  cursor: pointer;
}

.twitter .col{
  background-color: rgb(214, 217, 219);
}

.twitter .col:hover{
  background-color: white;
}

.linkedin{
  width: 1.6rem;
  margin-left: 2rem;
  cursor: pointer;
}

.linkedin .linke{
  background-color: rgb(214, 217, 219);
}

.linkedin .linke:hover{
  background-color: white;
}

.lin{
  font-family: 'Roboto', sans-serif !important;
  color:white;
  font-size: 1.2rem !important;
  margin: auto;
  margin-left: 0.5rem;
  visibility: hidden;
}

.a{
  
  text-decoration: none !important;
}

.Experiences{
  margin-right: 2.2rem;
}

.Home{
  margin-right: 2.2rem;
}

.centered h1:hover{
  color: #E3FDFD;
  cursor: pointer;
}

.Books{
  margin-right: 2.2rem;
}

.nav h1{
  font-family: 'Inconsolata', monospace;
  color:white;
  font-size: 1.5rem;
  margin: auto;
}

.top-most{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 35rem;
  height: 15rem;
  background-color: black;
  margin-top: 2.9rem;
  border-radius:5%;

}

.photo{
  width: 12rem;
  margin-bottom: 1rem;
  border-radius: 10rem;
  margin-top: 1.4rem;

}

.intro-text{
  margin-top: 3.5rem;
}

.top-most h1{
  font-family: 'Josefin Sans', sans-serif;
  color:white;
}

h2{
  color: white;
  font-size: 1.25rem;
  font-family: 'Josefin Sans', sans-serif;
}

.span{
  color: #B9EDDD;
}


.span1{
  color: #F6F7C1;
}

.skills{
  display: flex;
  flex-direction: column;
  width:42.5rem;
  height:12.5rem;
  background-color: black;
  bottom: 13.55%;
  margin-top: 8%;
  border-radius:5%;
}

.lower{
  display: flex;
  flex-direction: row;
}

.skills h1{
  font-family: 'Righteous', cursive;
  color:#4E6E81;
  font-size: 1.5rem;
  margin-top:0;
  margin-left: 5%;
}

.title{
  width: 4.3rem;
  height: 1.8rem;
  background-color: #E9EDC9;
  margin-top: 0.8rem;
  margin-left: 0.6rem;
  border-radius: 0.3rem;
}


.java{
  width: 3.5rem;
  height: 1.6rem;
  background-color: #4E6E81;
  margin-top: 1.5rem;
  margin-left: 0.6rem;
  border-radius: 0.25rem;
  
}


.java h2{
  font-size: 1.35rem;
  font-family: 'Josefin Sans', sans-serif;
  margin-top: 5%;
  margin-left: 9%;
}


a{
  text-decoration: none;
}


.java:hover{
  background-color: #3F4E4F;
}


.DSA{
  width: 20rem;
  height: 1.7rem;
  background-color: #647E68;
  margin-left: 0.6rem;
  margin-top: 1.51rem;
  border-radius: 0.3rem;
}


.DSA h2{
  font-size: 1.35rem;
  font-family: 'Josefin Sans', sans-serif;
  margin-top: 1.2%;
  margin-left: 2.9%;
}


.DSA:hover{
  background-color: #3B5249;
}


.python{
  width: 4.7rem;
  height: 1.5rem;
  background-color: #5B4B8A;
  margin-left: 0.6rem;
  margin-top: 1.5rem;
  border-radius: 0.3rem;
}


.python h2{
  font-size: 1.3rem;
  font-family: 'Josefin Sans', sans-serif;
  margin-top: 1.2%;
  padding: 1.5%;
  margin-left: 5%;
}


.python:hover{
  background-color: #62374E;
}

.shtml{
  width: 4.4rem;
  height: 1.6rem;
  background-color: #393646;
  margin-left: 0.6rem;
  margin-top: 1.51rem;
  border-radius: 0.3rem;
}


.shtml h2{
  font-size: 1.3rem;
  font-family: 'Josefin Sans', sans-serif;
  margin-top: 0.2%;
  text-align: center;
  padding: 0.2rem;
  margin-left: 2.9%;
}


.shtml:hover{
  background-color: #245953;
}

.tcss{
  width: 3.5rem;
  height: 1.6rem;
  background-color: #567189;
  margin-left: 0.6rem;
  margin-top: 1.51rem;
  border-radius: 0.3rem;
}


.tcss h2{
  font-size: 1.3rem;
  font-family: 'Josefin Sans', sans-serif;
  margin-top: 0.2%;
  text-align: center;
  padding: 0.2rem;
  margin-left: 2.9%;
}


.tcss:hover{
  background-color: #658864;
}

.c{
  width: 1.6rem;
  height: 1.6rem;
  background-color: #7B2869;
  margin-left: 0.6rem;
  margin-top: 1.51rem;
  border-radius: 0.3rem;
}


.c h2{
  font-size: 1.3rem;
  font-family: 'Josefin Sans', sans-serif;
  margin-top: 0.2%;
  text-align: center;
  padding: 0.2rem;
  margin-left: 2.9%;
}


.c:hover{
  background-color: #263159;
}

.second-row{
  display: flex;
  flex-direction: row;
}

.TechS{
  width: 7.3rem;
  height: 1.6rem;
  background-color: #472D2D;
  margin-left: 0.6rem;
  margin-top: 1.2rem;
  border-radius: 0.3rem;
}

.TechS h2{
  font-size: 1.3rem;
  font-family: 'Josefin Sans', sans-serif;
  margin-top: 0.2%;
  text-align: center;
  padding: 0.2rem;
  margin-left: 2%;
}


.TechS:hover{
  background-color: #22577E;
}

.SEO{
  width: 18rem;
  height: 1.6rem;
  background-color: #27323A;
  margin-left: 0.6rem;
  margin-top: 1.2rem;
  border-radius: 0.3rem;
}

.SEO h2{
  font-size: 1.3rem;
  font-family: 'Josefin Sans', sans-serif;
  margin-top: 0.2%;
  text-align: center;
  padding: 0.2rem;
  margin-left: 1.9%;
}


.SEO:hover{
  background-color: #A21232;
}

.first{
  display: flex;
  flex-direction: row;
}

.second{
  display: flex;
  flex-direction: row;
}

.mnav{
  display: none;
}

.menu{
  display: none;
}

@media screen and (max-width: 540px) {

  .logo{
    margin-left: 1rem;
  }

  .menu{
       display: block;
       margin-left: 15.8rem;
       margin-top: 0.5rem;
       color: white;
   }

  .centered{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    margin-left: 10rem !important;
    background-color: hsl(0 0% 100% / 0.1);
    backdrop-filter: blur(1rem);
    height: 100vh;
    visibility: hidden;
  }

  .twitter{
    display: none;
  }

  .linkedin{
    display: none;
  }

  .nav h1{
    font-family: 'Inconsolata', monospace;
    color:white;
    font-size: 1.3rem;
    margin: auto;
  }

  .Home{
    margin-top: 5rem;
  }

  .Experiences{
    margin-top: 0.5rem;
  }

  .Books{
    margin-top: 0.5rem;
  }

  .YouTube{
    margin-top: 0.5rem;
  }
  .top-most {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 13.2rem;
    height: 14rem;
    background-color: black;
    margin-top: 2rem;
    border-radius: 5%;
    text-align: center;
}

.photo {
  width: 6rem;
  height: 6rem;
  margin-bottom: 0;
  border-radius: 10rem;
  margin-top: 1rem;
}

.intro-text {
  margin-top: 0;
}

.top-most h1 {
  font-family: 'Josefin Sans', sans-serif;
  color: white;
  font-size: 1.3rem;
}

h2 {
  color: white;
  font-size: 1.1rem;
  font-family: 'Josefin Sans', sans-serif;
}

.skills {
  display: flex;
  flex-direction: column;
  width: 18.5rem;
  height: 19rem;
  background-color: black;
  bottom: 13.55%;
  margin-top: 4rem;
  border-radius: 5%;
  margin-left: 1rem;
}

.title {
  width: 4.2rem;
  height: 2rem;
  background-color: #E9EDC9;
  margin-top: 0.6rem;
  margin-left: 0.6rem;
  border-radius: 0.3rem;
}

.skills h1 {
  font-family: 'Righteous', cursive;
  color: #4E6E81;
  font-size: 1.5rem;
  margin-top: 0;
  margin-left: 5%;
}

.lower {
  display: flex;
  flex-direction: column;
}

.java {
  width: 3.5rem;
  height: 1.8rem;
  background-color: #4E6E81;
  margin-top: 0.6rem;
  margin-left: 0.6rem;
  border-radius: 0.25rem;
}

.java h2 {
  font-size: 1.35rem;
  font-family: 'Josefin Sans', sans-serif;
  margin-top: 5%;
  margin-left: 9%;
}

.DSA {
  width: 13.5rem;
  height: 3.1rem;
  background-color: #647E68;
  margin-left: 0.6rem;
  margin-top: 0.6rem;
  border-radius: 0.3rem;
}

.DSA h2 {
  font-size: 1.35rem;
  font-family: 'Josefin Sans', sans-serif;
  margin-top: 1.2%;
  margin-left: 2.9%;
}

.python {
  width: 5rem;
  height: 1.8rem;
  background-color: #5B4B8A;
  margin-left: 0.6rem;
  margin-top: 0.6rem;
  border-radius: 0.3rem;
}

.python h2 {
  font-size: 1.35rem;
  font-family: 'Josefin Sans', sans-serif;
  margin-top: 1.2%;
  padding: 1.5%;
  margin-left: 5%;
}

.shtml {
  width: 5rem;
  height: 1.8rem;
  background-color: #393646;
  margin-left: 0.6rem;
  margin-top: 0.6rem;
  border-radius: 0.3rem;
}
.shtml h2 {
  font-size: 1.35rem;
  font-family: 'Josefin Sans', sans-serif;
  margin-top: 0.2%;
  text-align: center;
  padding: 0.2rem;
  margin-left: 2.9%;
}

.tcss {
  width: 3.5rem;
  height: 1.7rem;
  background-color: #567189;
  margin-left: 0.6rem;
  margin-top: 0.6rem;
  border-radius: 0.3rem;
}

.tcss h2 {
  font-size: 1.35rem;
  font-family: 'Josefin Sans', sans-serif;
  margin-top: 0.2%;
  text-align: center;
  padding: 0.2rem;
  margin-left: 2.9%;
}

.c {
  width: 2rem;
  height: 1.6rem;
  background-color: #7B2869;
  margin-left: 0.6rem;
  margin-top: 0.6rem;
  border-radius: 0.3rem;
}

.c h2 {
  font-size: 1.35rem;
  font-family: 'Josefin Sans', sans-serif;
  margin-top: 0.2%;
  text-align: center;
  padding: 0.2rem;
  margin-left: 2.9%;
}

.second-row {
  display: flex;
  flex-direction: column;
}

.TechS {
  width: 8rem;
  height: 2.2rem;
  background-color: #472D2D;
  margin-left: 0.6rem;
  margin-top: 0.6rem;
  border-radius: 0.3rem;
}

.TechS h2 {
  font-size: 1.4rem;
  font-family: 'Josefin Sans', sans-serif;
  margin-top: 0.2%;
  text-align: center;
  padding: 0.2rem;
  margin-left: 2%;
}

.SEO {
  width: 10.1rem;
  height: 3.3rem;
  background-color: #27323A;
  margin-left: 0.6rem;
  margin-top: 0.6rem;
  border-radius: 0.3rem;
}

.SEO h2 {
  font-size: 1.4rem;
  font-family: 'Josefin Sans', sans-serif;
  margin-top: 0.2%;
  text-align: left;
  padding: 0.2rem;
  margin-left: 1.9%;
}

.first{
  display: flex;
  flex-direction: column;
}

.second{
  display: flex;
  flex-direction: row;
}


}
